<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Address (Backup 1627792212895)</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="container-fluid">
        <div class="accordion" role="tablist" id="accordion-1">
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button" data-bs-toggle="collapse"
                        data-bs-target="#accordion-1 .item-1" th:aria-expanded="${#lists.size(customer.addresses) > 0}  ? true : false"
                        aria-controls="accordion-1 .item-1">Selecione um endereço</button></h2>
                <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <form method="post" th:action="@{/checkout}">

                            <div class="row">
                                <div class="col">
                                    <select class="form-select form-control"
                                    th:disabled="${#lists.size(customer.addresses) <= 0}  ? true : false"
                                    name="addressIndex"
                                    >
                                    <option th:each="address,iter : ${customer.addresses}"
                                            th:value="${iter.index}" th:text="${address}">This is item 1</option>
                                    </select>
                                </div>
                                <div class="col"><button class="btn btn-dark" type="submit" name="addressAction"
                                        value="selectedCustomerAddress"
                                        th:disabled="${#lists.size(customer.addresses) <= 0}  ? true : false"
                                        >Continuar</button></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" role="tab"><button class="accordion-button collapsed"
                        data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-2" th:aria-expanded="${#lists.size(customer.addresses) <= 0} ? true : false"
                        aria-controls="accordion-1 .item-2">Cadastre um novo endereço</button></h2>
                <div class="accordion-collapse collapse item-2" role="tabpanel" data-bs-parent="#accordion-1">
                    <div class="accordion-body">
                        <div class="row">
                            <div class="col">
                                <form method="post" th:object="${customerAddress}" th:action="@{/checkout}">
                                    <input type="hidden" name="addressIndex" value="0">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-8"><label class="form-label"
                                                for="street">*Rua</label>
                                            <input th:field="*{street}" class="form-control" type="text" id="street"
                                                required="" minlength="3" autocomplete="on">
                                        </div>

                                        <div class="col-sm-6 col-md-2"><label class="form-label"
                                                for="number">*Numero</label>
                                            <input th:field="*{number}" class="form-control" type="text" id="number"
                                                autocomplete="on" required="">
                                        </div>
                                        <div class="col-sm-6 col-md-2"><label class="form-label"
                                                for="complement">Complemento</label>
                                            <input th:field="*{complement}" class="form-control" type="text"
                                                id="complement" autocomplete="on">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-12 col-md-4"><label class="form-label"
                                                for="neighborhood">*Bairro</label>
                                            <input th:field="*{neighborhood}" class="form-control" type="text"
                                                id="neighborhood" autocomplete="on" required="">
                                        </div>
                                        <div class="col-sm-12 col-md-4"><label class="form-label">*Cidade</label>
                                            <input th:field="*{city}" class="form-control" type="text" autocomplete="on"
                                                required="">
                                        </div>
                                        <div class="col-sm-12 col-md-4"><label class="form-label">*País</label>
                                            <input th:field="*{coutry}" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6 col-md-4"><label class="form-label">*CEP</label>
                                            <input th:field="*{zipCode}" class="form-control" type="text"
                                                autocomplete="on" required="">
                                        </div>
                                        <div class="col-sm-6 col-md-4"><label class="form-label">*Tipo</label>
                                            <select th:field="*{type}" class="form-select form-control" data-bs-toggle="tooltip"
                                                data-bss-tooltip="" title="Tipo de Endereço de entrega." required="">
                                                <option value="12" selected="">Casa</option>
                                                <option value="13">Trabalho</option>
                                                <option value="14">Outro</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-12 col-md-4"><label class="form-label">Referencia</label>
                                            <input th:field="*{reference}" class="form-control" type="text">
                                        </div>
                                        <div
                                            class="col-sm-12 col-md-12 text-end align-self-end m-sm-auto m-md-auto m-3 p-3">
                                            <button class="btn btn-dark" type="submit" name="addressAction"
                                                value="newCustomerAddress">Continuar</button></div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script th:src="@{js/bootstrap.min.js}"></script>
    <script th:src="@{js/bs-init.js}"></script>
</body>

</html>