<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Braintree Checkout</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
  <header class="main">
    <div class="container wide">
      <div class="content slim">
        
      </div>
    </div>
    <div class="notice-wrapper">
      <div class="show notice error notice-error" th:if="${errorDetails}">
        <span class="notice-message" th:text="${errorDetails}"></span>
      </div>
    </div>
  </header>

  <div class="wrapper">
    <div class="checkout container">
      <form id="payment-form" method="post" action="/checkout-step2">

        <input type="hidden" name="customerOrderId" th:value="${customerOrder.code}">

        <section>
          <div class="bt-drop-in-wrapper">
            <div id="bt-dropin"></div>
          </div>
        </section>

        <input type="hidden" id="nonce" name="payment_method_nonce" />
        <button class="btn btn-dark" type="submit">Confirmar</button>
      </form>
    </div>
  </div>

  <script src="https://js.braintreegateway.com/web/dropin/1.30.1/js/dropin.min.js"></script>
  <script th:inline="javascript">
    /*<![CDATA[*/
    var form = document.querySelector('#payment-form');
    var client_token = [[${clientToken}]];

    braintree.dropin.create({
      authorization: client_token,
      container: '#bt-dropin',
      paypal: {
        flow: 'vault'
      },
      locale: 'pt_BR'
    }, function (createErr, instance) {
      form.addEventListener('submit', function (event) {
      event.preventDefault();

      instance.requestPaymentMethod(function (err, payload) {
        if (err) {
          console.log('Error', err);
          return;
        }

        // Add the nonce to the form and submit
        document.querySelector('#nonce').value = payload.nonce;

          form.submit();
        });
      });
    });
    /*]]>*/
  </script>

</body>
</html>
