<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Braintree Transaction</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
  <header class="main">
    <div class="container wide">
      <div class="content slim">
        <div class="set">


        </div>
      </div>
    </div>
  </header>

  <div class="wrapper">
    <div class="response container">
      <div class="content">

        <div class="row">
          <div class="col d-md-flex flex-column justify-content-center align-items-center align-content-center">
            
            <div class="icon">
              <img th:if="${isSuccess}" src="/paypal/images/success.svg" th:src="@{/paypal/images/success.svg}"
                alt="" />
              <img th:unless="${isSuccess}" src="/paypal/images/fail.svg" th:src="@{/paypal/images/fail.svg}" alt="" />
            </div>

            
              <div th:if="${isSuccess}">
                <h1>Pagamento Efetuado Com Sucesso!</h1>
                <hr>
                <h1>Veja Outros Itens</h1>
                
                <div class="brand-bg p-4">
                  <div class="container">
                      <div class="row">
                          <div th:each="product : ${products}" class="col-xl-3 col-lg-3 col-md-3 col-sm-6 margin">
                              <a th:href="@{/detalhes} + '?id=' + ${product.id}">
                                  <div class="brand_box">
                                      <div class="row brand_box_product">
                                          <img class="img-fluid mx-auto d-block imgfit" th:if="${#lists.size(product.imagesId) > 0}"
                                              th:src="'/images/downloadDecoded/' + ${product.imagesId[0]}" alt="img" />
                                      </div>
                                      <div class="row brand_box_product_details">
                                          <div class="col-md-12">
                                              <h3>R$ <strong th:text="${product.price}" class="red">
                                                  </strong></h3>
                                              <span th:text="${'Desconto ' + product.discount}"></span>
                                          </div>
      
                                          <div class="col-md-12">
                                              <span th:text="${product.name}"></span>
                                          </div>
                                          <div class="col-12 d-flex justify-content-center">
                                              <i><img src="images/star.png" /></i>
                                              <i><img src="images/star.png" /></i>
                                              <i><img src="images/star.png" /></i>
                                              <i><img src="images/star.png" /></i>
                                          </div>
                                      </div>
                                  </div>
                              </a>
                          </div>
                          <div class="col-md-12">
                              <a th:href="@{/produtos}" class="read-more">Veja Mais</a>
                          </div>
                      </div>
                  </div>
              </div>

              </div>
              <div th:unless="${isSuccess}">
                <h1>Ocorreu um Erro ao Processar o seu Pagamento</h1>
                <section>Status <span th:text="${transaction.getStatus()}" />. </section>
              </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</body>

</html>