<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12 col-md-9">
            <div class="row" th:each="item,index : ${kart.items}">
                <div class="col-sm-6 col-md-3 brand_box mt-1 mb-1 mx-md-1 p-2">

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li th:each="imageId,index : ${item.product.imagesId}" th:data-slide-to="${index.index}"
                                data-target="#carouselExampleIndicators"
                                th:class="${index.index == 0 ? 'active' : '' }"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div th:each="imageId,index : ${item.product.imagesId}"
                                th:class="${index.index == 0 ? 'carousel-item active' : 'carousel-item' }">
                                <img class="d-block center imgfit" th:if="${#lists.size(item.product.imagesId) > 0}"
                                    th:src="'/images/downloadDecoded/' + ${imageId}" alt="First slide">
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button"
                            data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button"
                            data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                        </a>
                    </div>

                </div>
                <div class="col-sm-6 col-md-8 brand_box mt-1 mb-1 mx-md-1 p-2">
                    <div class="row">
                        <div class="col-md-8 col-sm-12">
                            <div class="col-md-12 p-3">
                                <h3 th:text="${item.product.name}"></h3>
                            </div>
                            <div class="col-md-12">
                                <p class="h3"> R$ <strong th:text="${item.product.price}" class="red h3" /></p>
                                <span class="h4" th:text="${'Em 12x de R$ ' + item.product.price / 12}"></span>
                                <span class="h4" th:if="${item.product.discount > 0}"
                                    th:text="${'Desconto ' + item.product.discount}"></span>

                                <span class="h4" th:text="${'Frete ' + item.product.freight}"></span>
                            </div>
                            <form th:action="@{/carrinho}" method="post" th:object="${kart}" class="h4">
                                <input th:field="*{id}" hidden>
                                <hr>
                                <input name="itemIndex" th:value="${index.index}" hidden>

                                <div class="col-md-12" th:each="variants, variantsIdx : ${item.productVariants}">
                                    <span class="h2" th:text="${variants.name} + ': '" />
                                    <span th:each="variant, variantIdx : ${variants.productVariantValues}"
                                        th:text="${variant.name}">
                                </div>

                                <div class="row">
                                    <div class="col-md-6 col-sm-6">
                                        <h2>Quantidade:</h2>
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                            class="minus">-</button>
                                        <input min="1" class="inputQuantity" name="quantity" th:value="${item.quantity}"
                                            type="number">
                                        <button type="button"
                                            onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                            class="plus">+</button>
                                    </div>
                                    <div class="col-md-6 col-sm-6">
                                        <button name="operation" value="alterQuantity" type="submit"
                                            class="btn btn-dark btn-block text-uppercase mt-3">Confirmar</button>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-sm-12 col-md-6 p-3">

                                        <button name="operation" value="cancel" th:if="${item.status.equals('active')} "
                                            type="submit" class="btn btn-danger btn-block text-uppercase">Cancelar
                                            item</button>

                                        <button name="operation" value="reactivate"
                                            th:if="${item.status.equals('canceled')} "
                                            class="btn btn-secondary btn-block text-uppercase">Cancelado/reativar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-3 sticky-top font-weight-bold brand_box mt-1 mb-2" style="height: 350px;">
            <div class="row">
                <div class="col-6">
                    <p class="font-weight-bold"> Produtos: </p>
                </div>
                <div class="col-6">
                    <p th:text="'R$ ' + ${kart.totalProductsAmount == null ? '0.00' : kart.totalProductsAmount}"
                        class="font-weight-bold text-nowrap text-end">
                        100,00 </p>
                </div>
                <hr />
                <div class="col-6">
                    <p class="font-weight-bold"> Descontos: </p>
                </div>
                <div class="col-6">
                    <p th:text="'R$ ' + ${kart.totalDiscountAmount == null ? '0.00' : kart.totalDiscountAmount}"
                        class="font-weight-bold text-nowrap text-end">
                        100,00 </p>
                </div>
                <hr />
                <div class="col-6">
                    <p class="font-weight-bold"> Frete: </p>
                </div>
                <div class="col-6">
                    <p th:text="'R$ ' + ${kart.totalFreightAmount == null ? '0.00' : kart.totalFreightAmount}"
                        class="font-weight-bold text-nowrap text-end">
                        100,00 </p>
                </div>
                <hr />
                <div class="col-6">
                    <p class="font-weight-bold h5"> Total: </p>
                </div>
                <div class="col-6">
                    <p th:text="'R$ ' + ${kart.totalAmount == null ? '0.00' : kart.totalAmount}"
                        class="font-weight-bold h5 red text-nowrap text-end">
                        100,00 </p>
                </div>
                <hr />
                <div class="col-6">
                    <a href="/checkout">
                        <button type="button" class="btn btn-danger">Finalizar</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>