<div class="row m-3">

    <div class="col-sm-12 brand_box m-1">
        <div class="container">

            

                <div class="row bs-wizard" style="border-bottom:0;">

                    <div class="d-flex justify-content-center align-content-stretch w-100">

                        <div class="col-md-4 bs-wizard-step complete">
                            <div class="text-center bs-wizard-stepnum">Endereço</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="/checkout" class="bs-wizard-dot"></a>

                        </div>

                        <div class="col-md-4 bs-wizard-step complete">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Pagamento</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>

                        </div>

                        <div class="col-md-4 bs-wizard-step active">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Fim</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>
                        </div>

                    </div>

                </div>
            
        </div>
    </div>
    <div class="d-md-flex justify-content-center align-content-md-stretch w-100">
        <div class="col-md-12 col-sm-12 brand_box m-1">
            <div th:replace="~{checkouts/paypal/show :: body} "></div>
        </div>
    </div>
</div>