<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- basic -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- mobile metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <!-- site metas -->
    <title>Imporium Tech - Checkout</title>

    <!-- sidebar css -->
    <div th:replace="~{sidebar :: link}"></div>
    <!-- bootstrap css -->
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}">
    <!-- style css -->
    <link rel="stylesheet" th:href="@{css/style.css}">
    <!-- fevicon -->
    <link rel="icon" th:href="@{images/favi.png}" type="image/gif" />

</head>
<!-- body -->

<body class="main-layout ">
    <div th:replace="header-fragment.html :: body"></div>
    <div th:insert="sidebar.html :: insertAtContent(~{checkout-items-fragment-step3}) "></div>
    <div th:insert="~{footer-fragment :: footer}"></div>

    <!-- Javascript files-->
    <script th:src="@{js/jquery.min.js}"></script>
    <script th:src="@{js/popper.min.js}"></script>
    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script th:src="@{js/jquery-3.0.0.min.js}"></script>

    <!-- sidebar -->
    <script th:src="@{js/jquery.mCustomScrollbar.concat.min.js}"></script>
    <script th:src="@{js/custom.js}"></script>
    <!-- javascript -->
    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });

    </script>
    <script>
        (function ($) {

            "use strict";

            var fullHeight = function () {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });

            };
            fullHeight();

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        })(jQuery);

    </script>
</body>

</html>