<div class="row m-3">

    <div class="col-sm-12 brand_box">
        <div class="container">

            

                <div class="row bs-wizard" style="border-bottom:0;">

                    <div class="d-flex justify-content-center align-content-stretch w-100">

                        <div class="col-md-4 bs-wizard-step complete">
                            <div class="text-center bs-wizard-stepnum">Endereço</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="/checkout" class="bs-wizard-dot"></a>

                        </div>

                        <div class="col-md-4 bs-wizard-step active">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Pagamento</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>

                        </div>

                        <div class="col-md-4 bs-wizard-step disabled">
                            <!-- complete -->
                            <div class="text-center bs-wizard-stepnum">Fim</div>
                            <div class="progress">
                                <div class="progress-bar"></div>
                            </div>
                            <a href="#" class="bs-wizard-dot"></a>
                        </div>

                    </div>





                </div>
            
        </div>
    </div>
    <div class="d-md-flex justify-content-center align-content-md-stretch w-100">
        <div class="col-md-9 col-sm-12 brand_box m-2">
            <div th:replace="~{checkouts/index :: body} "></div>
        </div>
        <div class="col-md-3 col-sm-12 sticky-top font-weight-bold brand_box m-2" style="height: 350px;">
            <div class="row">
                <div class="col-6" >
                    <p class="font-weight-bold"> Produtos: </p>
                </div>
                <div class="col-6">
                    <p th:text="'R$ ' + ${customerOrder.totalLiquid == null ? '0.00' : customerOrder.totalLiquid}"
                        class="font-weight-bold text-nowrap text-end">
                        100,00 </p>
                </div>
                <hr/>
                <div class="col-6">
                    <p class="font-weight-bold"> Descontos: </p>
                </div>
                <div class="col-6">
                    <p th:text="'R$ ' + ${customerOrder.totalDiscount == null ? '0.00' : customerOrder.totalDiscount}"
                        class="font-weight-bold text-nowrap text-end">
                        100,00 </p>
                </div>
                <hr/>
                <div class="col-6">
                    <p class="font-weight-bold"> Frete: </p>
                </div>
                <div class="col-6">
                    <p th:text="'R$ ' + ${customerOrder.totalEstimatedFreight == null ? '0.00' : customerOrder.totalEstimatedFreight}"
                        class="font-weight-bold text-nowrap text-end">
                        100,00 </p>
                </div>
                <hr/>
                <div class="col-6 bottom-border">
                    <p class="font-weight-bold h5"> Total: </p>
                </div>
                <div class="col-6 bottom-border">
                    <p th:text="'R$ ' + ${customerOrder.totalAmount == null ? '0.00' : customerOrder.totalAmount}"
                        class="font-weight-bold h5 red text-nowrap text-end">
                        100,00 </p>
                </div>
                <hr/>
            </div>
        </div>
    </div>
</div>