<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>

<head>
    <title>TODO supply a title</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img th:src="@{/images/loading.gif}" alt="#" /></div>
    </div>
    <!-- end loader -->
    <!-- header -->
    <header>
        <!-- header inner -->
        <div class="header">

            <div class="container">
                <div class="row">
                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 justify-content-start">
                        <div class="full">
                            <div class="center-desk">
                                <div class="logo">
                                    <a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="#"></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10 col-sm-10">
                        <div class="menu-area">
                            <div class="limit-box">
                                <nav class="main-menu">
                                    <ul class="menu-area-main">
                                        <li class="active"> <a th:href="@{/}">Home</a> </li>
                                        <li><a href="#contact">Contato</a></li>
                                        <li>
                                            <a th:href="@{/carrinho}"
                                            class="btn p-1">
                                                <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                                Carrinho
                                                <span class="badge badge-pill badge-danger"
                                                th:if="${#lists.size(kart.items) > 0}"
                                                th:text="${#lists.size(kart.items)}">3</span>
                                            </a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- end header inner -->
    </header>
    <!-- end header -->
</body>

</html>