<div class="">
    <br />
    <div class="row">

        <div class="col-xl-2 col-lg-2 col-md-2 col-sm-6 mt-2 mb-2 m-md-2 p-2 brand_box">

            <!--Carousel de itens Inicio-->

            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li th:each="imageId,index : ${product.imagesId}" th:data-slide-to="${index.index}"
                        data-target="#carouselExampleIndicators" th:class="${index.index == 0 ? 'active' : '' }"></li>
                </ol>
                <div class="carousel-inner">
                    <div th:each="imageId,index : ${product.imagesId}"
                        th:class="${index.index == 0 ? 'carousel-item active' : 'carousel-item' }">
                        <img class="d-block center imgfit" th:if="${#lists.size(product.imagesId) > 0}"
                            th:src="'/images/downloadDecoded/' + ${imageId}" alt="First slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>

            <!--Carousel de itens fim-->

        </div>
        <div class="col-xl-9 col-lg-9 col-md-9 col-sm-6 mt-2 mb-2 m-md-2 p-2 brand_box">
            <div class="row">

                <div class="col-md-12 col-sm-12">
                    <div class="col-md-12 p-3">
                        <h3 th:text="${product.name}"></h3>
                        <hr>
                    </div>

                    <div class="col-md-12">

                        <p class="h3"> R$ <b th:text="${product.price}" class="red h2"></b></p>
                        <span class="h4" th:text="${'Em 12x de R$ ' + product.price / 12}"></span>

                        <span class="h4" th:if="${product.discount > 0}"
                            th:text="${'Desconto ' + product.discount}"></span>
                        <span class="h4" th:text="${'Frete ' + product.freight}"></span>
                    </div>
                    <form th:action="@{/createShippingCart}" method="post" th:object="${product}" class="h6">
                        <input th:field="*{id}" hidden>
                        <hr>
                        <div class="col-md-12" th:each="variants, variantsIdx : ${product.productVariants}">
                            <input class="form-check-input" type="text"
                                th:field="*{productVariants[__${variantsIdx.index}__].name}" th:value="${variants.name}"
                                required hidden />
                            <h2 th:text="'Selecione uma opção de ' + ${variants.name}"></h2>

                            <th:block th:each="variant, variantIdx : ${variants.productVariantValues}">
                            
                                <input class="btn-check" type="radio"
                                    th:field="*{productVariants[__${variantsIdx.index}__].productVariantValues[0].name}"
                                    th:value="${variant.name}" th:checked="${false}" required autocomplete="off"
                                    th:id="${variant.name}" />
                                <label class="btn btn-outline-dark" th:text="${variant.name}"
                                    th:for="${variant.name}"></label>

                            </th:block>
                        
                        </div>
                        <div class="col-md-12">
                            <h2>Quantidade:</h2>
                            <div class="d-flex flex-row bd-highlight">
                                <button type="button"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepDown()"
                                    class="minus">-</button>
                                <input min="1" class="inputQuantity" name="quantity" value="1" type="number">
                                <button type="button"
                                    onclick="this.parentNode.querySelector('input[type=number]').stepUp()"
                                    class="plus">+</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-6 p-3">
                                <button name="action" value="buy" type="submit"
                                    class="btn btn-danger btn-block text-uppercase">Comprar</button>
                            </div>
                            <div class="col-sm-12 col-md-6 p-3">
                                <button name="action" value="addToKart" type="submit"
                                    class="btn btn-dark btn-block text-uppercase">Carrinho</button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 col-sm-12 mt-2 mb-2 m-md-2 p-2 brand_box">
            <div th:utext="${product.description}"></div>
        </div>
        <div class="col-md-3 col-sm-12 mt-2 mb-2 m-md-2 p-2 brand_box">
            <div th:insert="productItemsInsedeDescr-fragment"></div>
        </div>
    </div>
</div>