<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>

        <title>Imporium Tech - Produtos</title>
        <div th:replace="~{global-header-includes}"></div>
</head>
<!-- body -->

<body class="main-layout ">
    <div th:replace="header-fragment.html :: body"></div>
    <div th:insert="sidebar.html :: insertAtContent(~{product-details-fragment}) "></div>
    <div th:insert="~{footer-fragment :: footer}"></div>

     <!-- Javascript files-->
     <div th:replace="global-js-includes :: script"></div>

    <script>
        $(document).ready(function () {
            $(".fancybox").fancybox({
                openEffect: "none",
                closeEffect: "none"
            });

            $(".zoom").hover(function () {

                $(this).addClass('transition');
            }, function () {

                $(this).removeClass('transition');
            });
        });

    </script>
    <script>
        (function ($) {

            "use strict";

            var fullHeight = function () {

                $('.js-fullheight').css('height', $(window).height());
                $(window).resize(function () {
                    $('.js-fullheight').css('height', $(window).height());
                });

            };
            fullHeight();

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        })(jQuery);

    </script>
</body>

</html>