<div class="container mt-5 px-0">
    <div class="row">
        <div th:each="product : ${products}" class="col-md-2 col-sm-12 mt-1 mb-1">
            <a th:href="@{/detalhes} + '?id=' + ${product.id}">
                <div class="brand_box">
                    <div class="row brand_box_product">
                        <img class="img-fluid mx-auto d-block imgfit" 
                        th:if="${#lists.size(product.imagesId) > 0}"
                        th:src="'/images/downloadDecoded/' + ${product.imagesId[0]}"
                            alt="img" />
                    </div>
                    <div class="row brand_box_product_details">
                        <div class="col-md-12">
                            <h3>R$ <strong th:text="${product.price}" class="red">
                                </strong></h3>
                            <span th:text="${'Desconto ' + product.discount}"></span>
                        </div>

                        <div class="col-md-12">
                            <span th:text="${product.name}"></span>
                        </div>
                        <div class="col d-flex justify-content-center">
                            <i><img src="images/star.png" /></i>
                            <i><img src="images/star.png" /></i>
                            <i><img src="images/star.png" /></i>
                            <i><img src="images/star.png" /></i>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row">
        <nav th:if="${products.totalPages > 0}" aria-label="Paginação">
            <ul class="pagination pagination-sm">
                <li th:each="pageNumber : ${pageNumbers}" class="page-item"
                    th:classappend="${pageNumber==products.number} ? active">
                    <a class="page-link" th:href="@{/produtos(size=${products.size}, page=${pageNumber}, categoryId=${categoryId})}"
                        th:text="${pageNumber} +1"
                        th:style="${pageNumber==products.number} ? 'background-color:black;' : 'color:black;'" ></a>
                </li>
            </ul>
        </nav>
    </div>
</div>