<!doctype html>
<html lang="en">
    <body>
        <div class="wrapper d-flex align-items-stretch" th:fragment="insertAtContent(content)">
            <nav id="sidebar">
                <div class="custom-menu">
                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
                <div class="p-4 pt-5">
                    <h2 class="components mb-5"><b>Categorias</b></h2>
                    <ul class="list-unstyled components mb-5"  >
                        <li th:each="productCategory : ${productCategories}">
                            <a th:href="@{/produtos(categoryId=${productCategory.id})}" > <b th:text="${productCategory.name}"></b></a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Page Content  -->
            <div id="content" class="container-fluid p-md-4 p-sm-1 brand-bg">
                
                <div th:replace="${content}"></div>
            
            </div>
    </body>
</html>