<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Login-websore</title>
    <link rel="stylesheet" th:href="@{/login/assets/fonts/font-awesome.min.css}">
    <link rel="stylesheet" th:href="@{/login/assets/css/Login-Box-En.css}">
    <link rel="stylesheet" th:href="@{/login/assets/css/styles.css}">
</head>

<body>
    <div class="d-flex flex-column justify-content-center mb-4" id="login-box">
        <div class="login-box-header">
            <h4 style="color:rgb(139,139,139);margin-bottom:0px;font-weight:400;font-size:27px;">Imporium Tech</h4>
        </div>
        <form name="f" th:action="@{/login}" method="post">
            <div th:if="${param.error}" class="alert alert-danger">
                Usuário e Senha Incorretos.
            </div>
        <div class="email-login" style="background-color:#ffffff;">
            <input type="email" name="username" class="email-imput form-control" style="margin-top:10px;" required="true"
                placeholder="Email">
            <input type="password" name="password" class="password-input form-control" style="margin-top:10px;"
                required="true" placeholder="Senha" >
        </div>

        <div class="submit-row" style="margin-bottom:8px;padding-top:0px;">        
            <button
                class="btn btn-dark d-block box-shadow w-100" id="submit-id-submit" type="submit">Login
            </button>

            <div class="d-flex justify-content-between">
                <div class="form-check form-check-inline" id="form-check-rememberMe">
                    <input class="form-check-input"
                        type="checkbox" id="formCheck-1" for="remember" style="cursor:pointer;" name="remember-me"><label
                        class="form-check-label" for="formCheck-1">
                        <span class="label-text">Lembrar Login</span></label>
                </div><a id="forgot-password-link" href="#">Esqueceu a senha?</a>
            </div>
        </div>

        </form>

        <div id="login-box-footer" style="padding:10px 20px;padding-bottom:23px;padding-top:18px;">
            <p style="margin-bottom:0px;">Não tem uma conta?<a id="register-link" href="/register">Registre-se</a></p>
        </div>
    </div>
</body>
</html>