<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Cadastro de produtos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700" />
    <!-- https://fonts.google.com/specimen/Roboto -->
    <link rel="stylesheet" th:href="@{/backoffice/css/fontawesome.min.css}" />
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" th:href="@{/backoffice/jquery-ui-datepicker/jquery-ui.min.css}" type="text/css" />
    <!-- http://api.jqueryui.com/datepicker/ -->
    <link rel="stylesheet" th:href="@{/backoffice/css/bootstrap.min.css}" />
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" th:href="@{/backoffice/css/templatemo-style.css}">
    <!--
            Product Admin CSS Template
            https://templatemo.com/tm-524-product-admin
        -->
</head>

<body>
    <div th:replace="backoffice/menu-fragment.html :: body"></div>
    <div class="container-fluid height-full">
        <div class="row ">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto col-8">
                <div class="row ">
                    <div class="col-sm-6 tm-col" style="padding-top: 20px">

                        <div class="row">
                            <div class="col-12">
                                <h2 class="tm-block-title d-inline-block">Cadastro de Carousel de Promoções</h2>
                            </div>
                        </div>


                        <form action="#" th:action="@{/backoffice/carousel/edit}" th:object="${carousel}" method="post"
                            class="tm-edit-product-form">
                            <div class="row tm-edit-product-row">
                                <div class="col-xl-6 col-lg-6 col-md-6">
                                    <div class="form-group mb-3">
                                        <input id="id" name="id" type="text" th:field="*{id}"
                                            class="form-control validate" hidden="true" />
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="code">Nome
                                        </label>
                                        <input id="name" name="name" th:field="*{name}" type="text"
                                            class="form-control validate" required />
                                    </div>

                                    <div class="row">
                                        <div class="form-group mb-3 col-xs-12 col-sm-6">
                                            <label for="isActive">Ativo
                                            </label>
                                            <input id="isActive" name="isActive" th:field="*{isActive}" type="checkbox"
                                                class="form-control validate" data-large-mode="true" checked="true" />
                                        </div>
                                    </div>
                                    <div class="form-group mb-3">
                                        <label for="code">Link
                                        </label>
                                        <input id="link" name="link" th:field="*{link}" type="text"
                                            class="form-control validate" required />
                                    </div>
                                </div>

                                <input type="text" id="imageid" name="imageid" th:field="*{imageId}" hidden="true" />

                                <div class="form-group col-12">
                                    <label for="description">Descrição</label>
                                    <textarea id="description" name="description" th:field="*{description}"
                                        class="form-control validate" rows="3" required></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-primary btn-block text-uppercase">Salva
                                        Promoção</button>
                                </div>
                            </div>
                        </form>
                    </div>


                    <div class="col-xl-6 col-lg-6 col-md-6 mx-auto mb-4">


                        <form method="POST" action="/backoffice/carousel/images" enctype="multipart/form-data">
                            <!-- <input type="text" name="title" style="display: none" required="true"/> -->

                            <div th:if="${carousel.imageId == null}" class="tm-product-img-dummy mx-auto"
                                onclick="document.getElementById('fileBtn').click();">
                                <i class="fas fa-cloud-upload-alt tm-upload-icon"></i>
                            </div>

                            <div class="tm-product-img-dummy mx-auto">
                                <img th:if="${carousel.imageId != null}"
                                    style="height: -webkit-fill-available; width: -webkit-fill-available"
                                    th:src="'/images/downloadDecoded/' + ${carousel.imageId}"
                                    onclick="document.getElementById('fileBtn').click();" />
                            </div>


                            <div class="custom-file mt-3 mb-3">
                                <input type="submit" class="btn btn-primary btn-block mx-auto" value="ENVIAR IMAGEM" />
                            </div>

                            <input id="redirectTo" type="text" name="redirectTo" hidden="true"
                                th:value="'/backoffice/carousel/edit?id=' + ${carousel.id}" required="true" />
                            <input th:value="${carousel.id}" type="text" name="id" required="true" hidden="true" />
                            <input id="filename" type="text" name="title" required="true" hidden="true" />
                            <input id="fileBtn" type="file" name="image" accept="image/*" required="true"
                                hidden="true" />
                        </form>


                    </div>

                </div>
            </div>
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto col-4">

                <h2 class="tm-block-title">Items de Carousel</h2>
                <table class="table tm-table-small tm-product-table">
                    <thead>
                        <tr>
                            <th scope="col">None</th>
                            <th scope="col">Status</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="carousel : ${allCarousel}">
                            <td th:text="${carousel.name}" class="tm-product-name">
                            <td th:text="${carousel.isActive}" class="tm-product-name">
                            <td class="tm-product-name">
                                <a th:href="'/backoffice/customerorder/order?id=' +${order.id}" class="tm-product-delete-link">
                                    <i class="far fa-list-alt tm-product-delete-icon"></i>
                                </a>
                            </td>
                            <td class="text-center">
                                <form action="/backoffice/carousel/delete" method="POST"
                                    onclick="return confirm('Tem Certeza?')">
                                    <input name="id" type="hidden" th:value="${carousel.id}">
                                    <button type="submit" class="tm-product-delete-link">
                                        <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <form action="#" th:action="@{/backoffice/carousel/edit}" th:object="${newCarousel}" method="post"
                    class="tm-edit-product-form">
                    <div class="form-group col-12">
                        <label for="categoryName"> Nova Item de Carousel
                        </label>
                        <input id="isActive" name="isActive" th:field="*{isActive}" type="text" class="form-control"
                            required="true" hidden="true" />
                        <input id="name" name="name" th:field="*{name}" type="text" class="form-control"
                            required="true" />
                    </div>
                    <button type="submit" class="btn btn-primary btn-block text-uppercase mb-3">
                        Cadastrar Novo Carousel
                    </button>
                </form>
            </div>
        </div>
    </div>
    <footer class="tm-footer row tm-mt-small">
        <div class="col-12 font-weight-light">
            <p class="text-center text-white mb-0 px-4 small">
                Copyright &copy; <b>2021</b> All rights reserved.
                Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
            </p>
        </div>
    </footer>
    <script th:src="@{/backoffice/js/ckeditor/ckeditor.js}"></script>
    <script th:src="@{/backoffice/js/ckeditor/plugins/base64image/plugin.js}"></script>
    <script th:src="@{/backoffice/js/jquery-3.3.1.min.js}"></script>
    <!-- https://jquery.com/download/ -->
    <script th:src="@{/backoffice/jquery-ui-datepicker/jquery-ui.min.js}"></script>
    <!-- https://jqueryui.com/download/ -->
    <script th:src="@{/backoffice/js/bootstrap.min.js}"></script>
    <!-- https://getbootstrap.com/ -->

    <script>

        $("#fileBtn").change(function (event) {
            $('#filename').val($("#fileBtn").val());
        });

        $(document).ready(function () {

            if ($('#imageid').val()) {
                console.log("ready!");
                $.get("/images/download/" + $('#imageid').val())
                    .done(function (data) {
                        $('#imageBox').empty().prepend('<img id="theImg" style="height: -webkit-fill-available; width: -webkit-fill-available" src="data:image/png;base64,' + data.imageData.data + '" />');
                    });
            }
        });


        $("#enviarImagem").click(function (event) {
            //https://mkyong.com/jquery/jquery-ajax-submit-a-multipart-form/

            //stop submit the form, we will post it manually.
            event.preventDefault();

            // Get form
            var form = $('#imageForm')[0];
            // Create an FormData object 
            var data = new FormData(form);
            console.log(form.fileInput.value);
            data.append("title", form.fileInput.value);

            // disabled the submit button
            $("#enviarImagem").prop("disabled", true);

            $.ajax({
                type: "POST",
                enctype: 'multipart/form-data',
                url: "/backoffice/images/upload",
                data: data,
                processData: false,
                contentType: false,
                cache: false,
                timeout: 10000,
                success: function (data) {
                    console.log("SUCCESS : ", data);
                    $("#enviarImagem").prop("disabled", false);

                    document.getElementById('imageid').setAttribute('value', data.id);

                    $('#imageBox').empty().prepend('<img id="theImg" style="height: -webkit-fill-available; width: -webkit-fill-available" src="/images/downloadDecoded/' + data.imageData.id + '" />');
                },
                error: function (e) {
                    console.log("ERROR : ", e);
                    $("#enviarImagem").prop("disabled", false);

                }
            });

        });

    </script>

    <script>
        $(function () {
            $("#expireDate").datepicker({ dateFormat: 'dd/mm/yy' });
        });
    </script>

    <script>

        CKEDITOR.replace('description');
        CKEDITOR.config.extraPlugins = "base64image";
    </script>
</body>

</html>