<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Product Page - Admin HTML Template</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:400,700"
            />
        <!-- https://fonts.google.com/specimen/Roboto -->
        <link rel="stylesheet" th:href="@{/backoffice/css/fontawesome.min.css}" />
        <!-- https://fontawesome.com/ -->
        <link rel="stylesheet" th:href="@{/backoffice/css/bootstrap.min.css}" />
        <!-- https://getbootstrap.com/ -->
        <link rel="stylesheet" th:href="@{/backoffice/css/templatemo-style.css}">
        <!--
            Product Admin CSS Template
            https://templatemo.com/tm-524-product-admin
        -->
    </head>

    <body  id="reportsPage">
        <div th:replace="/backoffice/menu-fragment.html :: body"></div>
        <div class="container-fluid height-full">
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-products">
                        <div class="tm-product-table-container">

                            <table class="table table-hover tm-table-small tm-product-table">
                                <thead>
                                    <tr class="filters">
                                <div class="row">
                                    <form method="GET" action="/backoffice/customerorder/customerorderlist">

                                        <th><input class="mb-4" name="code" type="text" placeholder="Filtro por Código" ></th>
                                        <th><input class="mb-4" name="documentNumber" type="text" placeholder="Filtro por CPF" ></th>
                                        <th><input class="mb-4" name="email" type="text" placeholder="Filtro por E-mail" ></th>
                                        <th>
                                            <div class="form-group mb-3 col-12">
                                                <label
                                                    for="status"
                                                    >Filtro por Status
                                                </label>
                                                <select
                                                    id="status"
                                                    name="status"
                                                    type="text"
                                                    class="form-control validate"
                                                    >
                                                    <option disabled selected value=""> -- selecione um filtro -- </option>
                                                    <option th:each="status : ${T(com.davidosantos.webstore.orders.CustomerOrderStatus).values()}" 
                                                            th:value="${status}" th:text="${status}"></option>
                                                </select>
                                            </div>

                                        </th>
                                        <th><button class="btn btn-primary btn-block text-uppercase mb-3" type="submit" >Aplicar Filtros</button> </th>

                                    </form>
                                </div>
                                </tr>
                                <tr>
                                    <th scope="col">Código</th>
                                    <th scope="col">Nome</th>
                                    <th scope="col">CPF</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Dt. Abertura</th>
                                    <th scope="col">Qtd. Total Prds</th>
                                    <th scope="col">Total Frete</th>
                                    <th scope="col">Total Desconto</th>
                                    <th scope="col">Total Geral</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>

                                </thead>
                                <tbody>

                                    <tr th:each="order : ${orderPage.content}">
                                        <td th:text="${order.code}" class="tm-product-name"/>
                                        <td th:text="${order.customer.name}" />
                                        <td th:text="${order.customer.documentNumber}" />
                                        <td th:text="${order.customer.email}" />
                                        <td th:text="${order.lastCustomerOrderStatus}" />
                                        <td th:text="${order.createdDate}" />
                                        <td th:text="${order.totalQuantity}" />
                                        <td th:text="${order.totalFreight}" />
                                        <td th:text="${order.totalDiscount}" />
                                        <td th:text="${order.totalAmount}" />
                                        <td>
                                            <a th:href="'/backoffice/customerorder/order?id=' +${order.id}" class="tm-product-delete-link">
                                                <i class="far fa-list-alt tm-product-delete-icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav th:if="${orderPage.totalPages > 0}" aria-label="Paginação">
                                <ul  class="pagination pagination-sm">
                                    <li 
                                        th:each="pageNumber : ${pageNumbers}" 
                                        class="page-item"
                                        th:classappend="${pageNumber==orderPage.number} ? active"
                                        >
                                        <a
                                            class="page-link"
                                            th:href="@{/backoffice/customerorder/customerorderlist(size=${orderPage.size}, page=${pageNumber})}"
                                            th:text="${pageNumber} +1"
                                            th:style="${pageNumber==orderPage.number} ? 'background-color:darkcyan;' : 'background-color:powderblue;'"
                                            />
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- table container -->
                        <a
                            href="/backoffice/customerorder/order"
                            class="btn btn-primary btn-block text-uppercase mb-3">Cadastrar Novo Pedido</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved. 

                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>

        <script th:src="@{/backoffice/js/jquery-3.3.1.min.js}"></script>
        <!-- https://jquery.com/download/ -->
        <script th:src="@{/backoffice/js/bootstrap.min.js}"></script>
        <!-- https://getbootstrap.com/ -->
    </body>
</html>