<!DOCTYPE html>
<html lang="en"xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Product Page - Admin HTML Template</title>
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Roboto:400,700"
            />
        <!-- https://fonts.google.com/specimen/Roboto -->
        <link rel="stylesheet" th:href="@{css/fontawesome.min.css}" />
        <!-- https://fontawesome.com/ -->
        <link rel="stylesheet" th:href="@{css/bootstrap.min.css}" />
        <!-- https://getbootstrap.com/ -->
        <link rel="stylesheet" th:href="@{css/templatemo-style.css}">
        <!--
            Product Admin CSS Template
            https://templatemo.com/tm-524-product-admin
        -->
    </head>

    <body  id="reportsPage">
        <div th:replace="/backoffice/menu-fragment.html :: body"></div>
        <div class="container-fluid height-full">
            <div class="row tm-content-row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-products">
                        <div class="tm-product-table-container">

                            <table class="table table-hover tm-table-small tm-product-table">
                                <thead>
                                    <tr class="filters">
                                <form method="GET" action="/backoffice/customerslist">
                                    <th><input name="name" type="text" placeholder="Filtro por Nome" ></th>
                                    <th><input name="documentNumber" type="text" placeholder="Filtro por CPF" ></th>
                                    <th><input name="email" type="text" placeholder="Filtro por E-mail" ></th>
                                    <th><button type="submit" >Aplicar Filtros</button> </th>
                                </form>
                                </tr>
                                <tr>
                                    <th scope="col">Nome</th>
                                    <th scope="col">CPF</th>
                                    <th scope="col">E-mail</th>
                                    <th scope="col">Dt. Nasc</th>
                                    <th scope="col">Sexo</th>
                                    <th scope="col">Dt. Cadastro</th>
                                    <th scope="col">Dt. Ativo</th>
                                    <th scope="col">Dt. Bloqueio</th>
                                    <th scope="col">Dt. Cnfrm. Email</th>
                                    <th scope="col">Bloqueado?</th>
                                    <th scope="col">Ativo?</th>
                                    <th scope="col">Cnfrm. Email</th>
                                    <th scope="col">Opt Ofertas</th>
                                    <th scope="col"></th>
                                    <th scope="col"></th>
                                </tr>

                                </thead>
                                <tbody>

                                    <tr th:each="customer : ${customerPage.content}">
                                        <td th:text="${customer.name}" class="tm-product-name"/>
                                        <td th:text="${customer.documentNumber}" />
                                        <td th:text="${customer.email}" />
                                        <td th:text="${customer.birthDate}" />
                                        <td th:text="${customer.sex}" />
                                        <td th:text="${customer.registeredDate}" />
                                        <td th:text="${customer.activeChangeDate}" />
                                        <td th:text="${customer.blockChangeDate}" />
                                        <td th:text="${customer.emailConfirmedChangeDate}" />
                                        <td th:text="${customer.isBlocked}" />
                                        <td th:text="${customer.isActive}" />
                                        <td th:text="${customer.isEmailConformed}" />
                                        <td th:text="${customer.offerOpted}" />
                                        <td>
                                            <a th:href="'/backoffice/customers?id=' +${customer.id}" class="tm-product-delete-link">
                                                <i class="far fa-edit tm-product-delete-icon"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="#" class="tm-product-delete-link">
                                                <i class="far fa-trash-alt tm-product-delete-icon"></i>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <nav th:if="${customerPage.totalPages > 0}" aria-label="Paginação">
                                <ul  class="pagination pagination-sm">
                                    <li 
                                        th:each="pageNumber : ${pageNumbers}" 
                                        class="page-item"
                                        th:classappend="${pageNumber==customerPage.number} ? active"
                                        >
                                        <a
                                            class="page-link"
                                            th:href="@{/backoffice/customerslist(size=${customerPage.size}, page=${pageNumber})}"
                                            th:text="${pageNumber} +1"
                                            th:style="${pageNumber==customerPage.number} ? 'background-color:darkcyan;' : 'background-color:powderblue;'"
                                            />
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- table container -->
                        <a
                            href="/backoffice/customers"
                            class="btn btn-primary btn-block text-uppercase mb-3">Cadastrar Novo Cliente</a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="tm-footer row tm-mt-small">
            <div class="col-12 font-weight-light">
                <p class="text-center text-white mb-0 px-4 small">
                    Copyright &copy; <b>2018</b> All rights reserved. 

                    Design: <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">Template Mo</a>
                </p>
            </div>
        </footer>

        <script th:src="@{js/jquery-3.3.1.min.js}"></script>
        <!-- https://jquery.com/download/ -->
        <script th:src="@{js/bootstrap.min.js}"></script>
        <!-- https://getbootstrap.com/ -->
        <script>
            $(function () {
                $(".tm-product-name").on("click", function () {
                    window.location.href = "edit-product.html";
                });
            });
        </script>
    </body>
</html>